.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0; 
}

.banner h1 {
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans-serif;
}

.banner p {
  font-size: 30px;
  margin: 20px;
  color: orangered;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;

.btn {
  color:back;
  background-color: red;
  border-radius: 10%;
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}
